.Main {
  margin: 20px;
  width: 500px;
  height: 550px;
  border: 1px solid black;
}

.Container {
  display: flex;
  height: 440px;
  margin: 30px;
}

.Menu {
  padding: 5px;
  border: 2px solid blue;
  height: 100%;
  width: 50%;
  margin-right: 10px;
  overflow: auto;
}

.Details {
  padding: 5px;
  border: 2px solid red;
  height: 100%;
  width: 50%;
}

.Buttons {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

