.Menu-Item {
  cursor: pointer;
}

/* .Menu-Item_selected {
  background-color: green;
} */

.Menu-Item_level1 {
  padding-left: 0px;
}

.Menu-Item_level2 {
  padding-left: 20px;
}

.Menu-Item_level3 {
  padding-left: 40px;
}
